
@keyframes menu-element-animation {
    0% {
        margin: 0px 5px;
    }

    25% {
        margin: 0px 15px;
    }

    100% {
        margin: 0px 5px;
    }
}

.menu-element
{
    height: 30px;
    width: 175px;

    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3px 0px;

    cursor: pointer;

    &:hover {
        font-weight: 700;
    }
}

.menu-element:hover > div {
    animation: menu-element-animation 0.5s 1;
}

.menu-element > img 
{
    margin: 0px 5px;
}

.menu-element > div 
{
    margin: 0px 5px;
    font-size: 18px;
}