* { box-sizing: border-box }

.LoginPage_wrapper {
    width: 100vw;
    height: 100vh;

    display: grid;
    align-items: center;
    justify-content: center;

    background-color: #e5e7eb;
}

.LoginPage_isnald {
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2) ;
    width: 800px;

    display: flex;
    flex-direction: row;

    border-radius: 20px;
    background-color: #F3F4F6;
    position: relative;
}

.LoginPage_isnald > * {
    flex: 1;
    padding: 40px;
    border-radius: 10px;
}

.LoginPage_isnald > :nth-child(-n+2) {
    z-index: 1;
} 

.LoginPage_switcher {
    position: absolute;
    top: 0%;
    bottom: 0%;
    width: 50%;
    left: 50%;

    background: #5a91ff;
    z-index: 2;
    border-radius: 20px;
    transition: left 300ms cubic-bezier(0,1.03,.42,1.02);
}

.LoginPage_Loginform {
    display: flex;
    flex-direction: column;
}

.LoginPage_Loginform > :nth-child(-n+2) {
    margin-top: 10px;

    display: flex;
    flex-direction: column;
}

.LoginPage_Loginform > :nth-child(-n+2) label{
    font-size: medium;
    margin-bottom: 5px;
}

.LoginPage_Loginform > :nth-child(-n+2) input {
    box-sizing: border-box;
    border-radius: 4px;
    background: #e5e7eb;
    border: 1px solid;
    border-color: #e5e7eb;
    padding: 12px 16px;
    transition: 0.2s;
}

.LoginPage_Loginform > :nth-child(-n+2) input:focus  {
    outline: none;
        
    border-color: #5a91ff;
    background: white;

    transition: 0.2s;
} 

.LoginPage_Loginform > :nth-child(3) {
    margin-top: 10px;
    margin-bottom: 25px;

    display: flex;
    flex-direction: row-reverse;
    font-size: small;
    font-weight: bold;
}

.LoginPage_LoginButton {
    margin-top: 5px;
    margin-bottom: 0px;
    
    padding: 13px;
    color: white;
    font-weight: bold;

    border: 0px solid;
    border-radius: 8px;
    background-color: rgb(59 130 246);

    transition: 0.2s;
    transform: scale(1.0);
}

.LoginPage_LoginButton:hover {
    cursor: pointer;

    background-color: rgba(59, 130, 246, 0.85);
    transition: 0.2s;
    transform: scale(0.98);
}

.LoginPage_login > p {
    font-size: small;
}

.LoginPage_login > :nth-child(4) {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.LoginPage_login > :nth-child(4) > hr {
    border: 1px solid;
    flex: 1;
    margin: 15px;
}

.LoginPage_login > :nth-child(4) > * {
    opacity: 0.3;
}

.LoginPage_login > :nth-child(5) {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.LoginPage_login > :nth-child(5) > div {
    flex-grow: 5;
    font-size: small;
}


.LoginPage_Button_Register {
    flex-grow: 1;
}

.LoginPage_Button_Register {
    cursor: pointer;
    background-color: white;
    border-radius: 8px;
    border: 2px solid;
    border-color: rgb(59 130 246);
    padding: 5px 13px;
    transition: 0.2s;
}

.LoginPage_Button_Register:hover {

    transition: 0.2s;
    transform: scale(1.05);
}

.LoginPage_switcher {
    display: flex;
    flex-direction: column;
}

.LoginPage_Button_Login {
    position: absolute;
    align-self: flex-end;

    margin-top: 102%;
}